{% extends "network/layout.html" %}

{% block body %}
    <ul>
        {% for post in posts %}
            <div class="line"></div>
            <div>
                <li>
                    <div class="grey">Author:</div>
                    <a href="{% url 'profile' post.poster.id %}">{{ post.poster }}</a>
                </li>
                <li><div class="grey">Post:</div>{{ post.post }}</li>
                <li><div class="grey">Added:</div>{{ post.date }}</li>
                <li><div class="grey">Likes:</div>{{ post.likes }}</li>
                {% empty %}
                <li>No current posts</li>
            </div>
            {% endfor %}
            
    </ul>
{% endblock %}