{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h3 id="{{ page_number }}" style="display: none;">{{ page_number }}</h3>
    <ul id="page{{ page_obj.number }}">
        {% for post in page_obj %}
            <div class="line"></div>
            <div>
                <li>
                    <div class="grey">Author:</div>
                    <a href="{% url 'profile' post.poster.id %}">{{ post.poster }}</a>
                </li>
                <div class="post" id="post_{{ post.id }}">
                    <li>
                        <div class="grey">Post:</div>{{ post.post }}
                        {% if post.poster == user %}
                            <button class="btn btn-primary edit-b" id="button_{{ post.id }}" data-box="edit-button" name="ed" value="esd" style="display: block;">Edit</button>
                        {% else %}
                            <button class="btn btn-primary edit-b" id="button_{{ post.id }}" data-box="edit-button" name="ed" value="esd" style="display: none;">Edit</button>
                        {% endif %}
                    </li>
        
                </div>
                <div class="edit" id="edit_{{ post.id }}" style="display: none;">
                    <li>
                        <div class="grey">Edit Post:</div>
                        <form id="edit-post-{{ post.id }}">
                            <textarea id="text_{{ post.id }}" class="form-control">{{ post.post }}</textarea>
                            <input type="submit" value="Save" class="btn btn-primary"/>
                        </form>      
                    </li>
                </div>
                <li><div class="grey">Added:</div>{{ post.date }}</li>
                <li><div class="grey">Likes:</div>{{ post.likes }}</li>
                {% empty %}
                <li>No current posts</li>
            </div>
            {% endfor %}
            
    </ul>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}

        </span>
    </div>
            
{% endblock %}

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}